h3 {
   color: blue;
}

* {
margin: 20px;
   font-family: monaco;
} 

#BC {
   background-color: #D3D3D3;
}


#TWM {
   margin-right: 0px
}

#TDM {
   margin-right: 500px
}

.footer {
position: fixed;
   margin: 0px;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

